# Miscellaneous
.DS_Store
*.log

# Flutter/Dart related
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/pubspec.lock

# IDE related
.idea/
*.iml
.vscode/

# Platform specific
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/ios/Flutter/.last_build_id
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/

# Prototype related (if any junk)
**/node_modules/
